.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  z-index: 9;
  align-items: center;
  width: 100%;
  box-shadow: 0 5px 3px 0 rgb(0 21 41 / 12%);
  transition: background .3s, width .2s;
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.logoBox {
  padding: 10px;
  margin-left: 20px;
}

.logo {
  width: 100px;
  height: auto;
}

.popover {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #999;
  margin-right: 20px;
  cursor: pointer;
  height: 100%;
}

.popover:hover {
  background-color: #f9f9fc;
  color: #1890ff;
}

.popoverLi:hover {
  background-color: #f9f9fc;
  color: #1890ff;
  cursor: pointer;
  width: 100%;
}


.footer{

}
